---
---
<!DOCTYPE html>
<html lang="pl">

<head>
	<title>Warsztaty z Azure Community 2021</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Darmowe sesje warsztatowe z obszaru Microsoft Azure.
	W gronie prowadzących znane twarze polskich specjalistów Microsoft Azure, a także eksperci dziedzinowi.">
	<meta name="author" content="Azure Community PL">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap"
		rel="stylesheet">

	<!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="assets/css/theme.css">
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KWCRNJT');</script>
	<!-- End Google Tag Manager -->
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWCRNJT" height="0" width="0"
				style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header id="header" class="header fixed-top">
		<div class="branding">
			<div class="container-fluid">
				<nav class="main-nav navbar navbar-expand-lg">
					<div class="site-logo">
						<a class="scrollto" href="#hero-block">
							<img class="logo-icon"
								 src="assets/images/logos/logo_with_text_white.png" alt="logo">
						</a>
					</div>

					<!--<div class="navbar-btn order-lg-2">
							<a class="btn btn-secondary" href="#"
								target="_blank">Aplikuj&#x203c;</a>
						</div>
					-->

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
							aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div id="navigation" class="navbar-collapse collapse  justify-content-lg-end mr-lg-3">
						<ul class="nav navbar-nav">
							<li class="nav-item">
								<a class="nav-link scrollto" href="#about-section">O programie</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scrollto" href="#schedule-section">Harmonogram</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scrollto" href="#details-section">Szczegóły programu</a>
							</li>
                            <li class="nav-item">
                                <a class="nav-link scrollto" href="#speakers-section">Ścieżki warsztatowe</a>
                            </li>
							<li class="nav-item">
								<a class="nav-link scrollto" href="#organizers-section">Organizatorzy</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scrollto" href="#sponsors-section">Partnerzy</a>
							</li>
						</ul>
						<!--//nav-->
					</div>
					<!--//navabr-collapse-->

				</nav>
				<!--//main-nav-->

			</div>
			<!--//container-->
		</div>
		<!--//branding-->
	</header>
	<!--//header-->

	<div id="hero-block" class="hero-block">
		<div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item-1 carousel-item active">
				</div>
				<div class="carousel-item-2 carousel-item">
				</div>
				<div class="carousel-item-3 carousel-item">
				</div>
				<div class="carousel-item-4 carousel-item">
				</div>
				<div class="carousel-item-5 carousel-item">
				</div>
				<div class="carousel-item-6 carousel-item">
				</div>
				<div class="carousel-item-7 carousel-item">
				</div>
			</div>
		</div>
		<div class="hero-block-mask"></div>
		<div class="container">
			<div class="hero-text-block">
				<h1 class="hero-heading mb-2">Warsztaty z Azure Community 2021</h1>
				<div class="hero-meta mb-3"><i class="far fa-calendar-alt mr-2"></i>12 października - 30 listopada 2021</div>
				<div class="hero-intro mb-4">
					Organizowany przez <a href="https://github.com/AzureCommunityPL/group/discussions">Microsoft Azure User Group Poland</a>
				</div>
			</div>
			<!--//hero-text-block-->
		</div>
		<!--//container-->

	</div>
	<!--//hero-block-->

	<section id="about-section" class="about-section section theme-bg-light">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Warsztaty z Azure Community 2021</h3>
			<div class="section-intro single-col-max mx-auto mb-4">
				<p>
					Z myślą o wszystkich tych, którzy chcieliby rozwijać swoje umiejętności pracy z chmurą Microsoft
					Azure, jako członkowie
					społeczności <b>
						<a href="https://github.com/AzureCommunityPL/group/discussions">
							Microsoft Azure User Group
							Poland
						</a>
					</b> przygotowaliśmy serię warsztatów, które wprowadzą Cię różne rejony chmury!
					Zgłoś się do udziału w projekcie i rozwiń swoje umiejętności pod okiem doświadczonych prowadzących!
				</p>
				<p>Program jest darmowy, niemniej jednak wymagamy od Ciebie zaangażowania i obecności na sesjach warsztatowych!</p>
			</div>
			<div class="section-intro single-col-max mx-auto mb-4">
				<h4 class="mb-4 text-center">Idea powstania programu</h4>
				<p>
					Wykorzystanie chmury obliczeniowej jest już standardem w świecie IT, a w ostatnich latach możemy
					zaobserwować znaczny wzrost popytu na rynku pracy na pracowników, którzy w swym portfolio mogą
					pochwalić się doświadczeniem w obszarach chmurowych.
					Widzimy to też po stale rosnącej liczbie członków naszej społeczności <a href="https://github.com/AzureCommunityPL/group/discussions">
						<b>
							Microsoft Azure User Group
							Poland
						</b>
					</a>. Widzimy
					Wasze zainteresowanie i chcemy pokazać, że można jeszcze więcej!
				</p>
				<p>
					Szukamy osób, które chcą dowiedzieć się czegoś nowego, poznać możliwości chmury Azure i rozwijać się
					dalej.
					Chcemy dodać Wam
					motywacji i inspiracji do rozwoju własnej wiedzy w obrębie dotychczasowych i nowych projektów.
				</p>
				<p>
					Przygotowaliśmy <b>7 ścieżek warsztatowych</b> z różych rejonów chmury Azure, tak żeby każdy mógł znaleźć dla siebie odpowiedni fragment,
					który chciałby poznać lepiej.

					Do grona Prowadzących zaprosiliśmy osoby, które aktywnie działają na rzecz polskiej
					społeczności
					użytkowników Azure. Jesteśmy pewni, że ich doświadczenie i pasja zachęcą Cię do zgłoszenia się do
					programu i pokazania
					swoich możliwości!
				</p>
			</div>

		</div>
		<!--//container-->

	</section>
	<!--//about-section-->

    <section id="schedule-section" class="schedule-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-5">Harmonogram</h3>

        <!-- Tab panes -->
			<div class="schedule-tab-content tab-content">
				<div class="tab-pane active" id="tab-1-content" role="tabpanel">
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">20 września <br>-<br> 9 października</h4>
							<div class="profile">
							</div>
							<!--//profile-->
						</div>
						<!--//meta-->
						<div class="content">
							<h3 class="title mb-3">Aplikacje uczestników</h3>
							<div class="desc">
                                W tym okresie czekamy na Twoje zgłoszenie poprzez ankietę dostępną <a href="https://azurecommunitypl.typeform.com/to/g5t2WB3r">tutaj</a>. Poprzez ankietę możesz zgłosić się na
								wybrany warsztat podając podstawowe informacje o swoim doświadczeniu - pozwoli nam to sprawdzić czy dany warsztat
								będzie odpowiedni dla Ciebie.
							</div>
						</div>
						<!--//content-->
					</div>
					<!--//item-->
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">10 - 12 października</h4>
							<div class="profile">
							</div>
							<!--//profile-->
						</div>
						<!--//meta-->
						<div class="content">
							<h3 class="title mb-3">Stworzenie grup warsztatowych</h3>
							<div class="desc">
								Organizatorzy tworzą grupy warsztatowe opierając się na kolejności zgłoszeń na konkretny warsztat
								i przekazują listę uczestników każdemu z prowadzących.
								Prowadzący na podstawie formularzy zawierających tylko
								podstawowe informacje dotyczące doświadczenia uczestników mogą odrzucić osoby,
								które nie spełniają kryteriów warsztatu (np. gdy wymagane jest podstawowe doświadczenie w jakiejś technologii).
								Organizatorzy przekazują informację o dostaniu się lub odrzuceniu zgłoszenia do
								programu uczestnikom wraz z podstawowymi informacjami. Prowadzący otrzymują kontakt do wybranych osób uczestniczących w warsztacie.
							</div>
							<!--//content-->
						</div>
					</div>
					<!--//item-->
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">12 października <br>-<br>30 listopada</h4>
						</div>
						<!--//meta-->
						<div class="content">
							<h3 class="title mb-3">Czas trwania programu</h3>
							<div class="desc">
								W tym okresie prowadzone są warsztaty - konkretne terminy dostępne są w opisie każdego z warsztatów.
							</div>
						</div>
						<!--//content-->
					</div>
				</div>
				<!--//tab-1-content-->
			</div>
			<!--//schedule-tab-content-->
		</div>

		<!--//benefits-list-->
		<div class="event-countdown text-center mb-3">
			<div id="countdown-box" class="countdown-box"></div>
		</div>
		<!--//event-countdown-->
		<div class="about-cta text-center mb-5">
			<a class="btn btn-secondary btn-lg  mb-5" href="https://azurecommunitypl.typeform.com/to/g5t2WB3r"
			   target="_blank">Zapisz się&#x203c;</a>
		</div>
        <!--//container-->
</section>

<section id="details-section" class="about-section section theme-bg-light">
    <div class="container">
        <div class="section-intro single-col-max mx-auto mb-4">
            <h4 class="mb-4 text-center">Dla kogo?</h4>
            <p>
                Program dedykujemy osobom, które posiadają już doświadczenie w IT i chciałyby nauczyć się pracy na
                platformie Azure lub
                rozwinąć posiadane już umiejętności w Azure w jednym z dostępnych obszarów tematycznych programu.
            </p>
            <p>
                <b>Jeśli zatem:</b>
            </p>
            <ul class="list-why">
                <li>pracujesz na co dzień z Azure, ale chcesz rozwinąć się w konkretnym kierunku,</li>
                <li>masz doświadczenie z innymi dostawcami usług chmurowych i chcesz zacząć przygodę z Azure,</li>
                <li>
                    zajmujesz się zupełnie inną dziedziną IT, ale czujesz, że "chmura to jest to, co chcesz w życiu
						robić”...
					</li>
				</ul>
				<p>...nie zwlekaj i zgłoś swój udział w programie!</p>
			</div>
			<div class="section-intro single-col-max mx-auto mb-4">
				<h4 class="text-center mb-4">Jak wygląda struktura programu?</h4>
				<div class="mb-4">
					<p>
						Każda ścieżka warsztatowa to <b>4 spotkania po 1,5 - 2 godziny</b> podczas których prowadzący przybliży dany temat lub technologię. Grupa uczestników jest niezmienna
						i wspólnie rozwija się z jednego spotkania na drugie. Dlatego tak ważne jest, żeby każdy uczestnik aktywnie udzielał się na każdym spotkaniu!
					</p>
					<p>
						Cenimy praktyczną wiedzę popartą doświadczeniem więc naszym celem jest, żeby
						każdy uczestnik wyniósł z warsztatów dobre praktyki, a nie suchą wiedzę.
					</p>
					<p>
						Każdy z prowadzących jest unikalny i tak samo unikalna jest każda ze ścieżek warsztatowych. Chcemy być elastyczni i dopasować się do Waszych potrzeb!
						Dlatego liczymy na Wasze zaangażowanie i aktywność podczas warsztatów!
					</p>
					<p>
                        <b>Ilość miejsc na każdy z warsztatów jest ograniczona, decyduje kolejność zgłoszeń.</b> 
                        Każde zgłoszenie będzie sprawdzone przez prowadzących pod kątem doświadczenia uczestnika (dla warsztatów o poziomie wyższym niż podstawowy) - w przypadku podejrzenia, że warsztat może być za trudny dla uczestnika organizatorzy mogą odrzucić zgłoszenie.
                        W przypadku dużej liczby zgłoszeń, osoby które zapiszą się na więcej niż jeden warsztat mogą zostac poproszone przez organizatorów o wybranie tylko jednej ścieżki warsztatowej.
                    </p>
				</div>
			</div>
		</div>
	<!--//container-->

</section>
	<section id="speakers-section" class="speakers-section section">
		<div class="container">
			<h3 class="section-heading text-center mb-5">Ścieżki warsztatowe</h3>

			<!-- Nav tabs -->
			<!-- Tab panes -->
			<div class="schedule-tab-content tab-content">
				<div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
					{% for item in site.data.speakers %}
					<div class="item item-talk">
						<div class="meta">
							<h4 class="time mb-3">{{ item.name }}</h4>
                            <div class="profile">
								<a href="#modal-speaker-{{ forloop.index }}" data-toggle="modal" data-target="#modal-speaker-{{ forloop.index }}">
									<img class="profile-image rounded-circle  mb-2" src="assets/images/speakers/{{ item.photo }}" alt="">
									{% if item.mvp %}
                                            <i class="icon-mvp-1" style="font-size: 2rem; position: absolute; right: 2.5rem; bottom: 2.8rem"></i>
                                    {% endif %}
								</a>
                                <div class="name"><a class="theme-link" href="#modal-speaker-{{ forloop.index }}" data-toggle="modal" data-target="#modal-speaker-{{ forloop.index }}">Poznaj prowadzącego</a></div>
                            </div><!--//profile-->
						</div><!--//meta-->
						<div class="content">
							<h3 class="title mb-3">{{ item.workshop }}</h3>
							<div class="location mb-1"><i class="fas fa-chart-line me-2"></i> {{ item.level }}</div>
							<div class="location mb-1"><i class="fas fa-calendar-check me-2"></i> {{ item.dates }}</div>
							<div class="location mb-1"><i class="fas fa-people-arrows me-2"></i> {{ item.limit }}</div>
							<div class="location mb-3"><i class="fas fa-cubes me-2"></i> {{ item.requirements }}</div>
							<div class="desc">{{ item.description }}</div>
						</div><!--//content-->
					</div><!--//item-->
                    {% endfor %}
				</div><!--//tab-1-content-->
				</div><!--//schedule-tab-content-->
			</div><!--//container-->
	</section><!--//schedule-section-->

	<div class="container">
		<hr>
	</div>

	<section id="organizers-section" class="speakers-section section">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Organizatorzy</h3>
			<div class="section-intro text-center single-col-max mx-auto mb-5"></div>
			<div class="row">
				{% for item in site.data.organizers %}
				<!--organizator-->
				<div class="col-12 col-md-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<img src="assets/images/speakers/{{ item.photo }}" class="card-img-top rounded-0" alt="">
						<div class="card-body">
							<h5 class="card-title mb-2">{{ item.name }}</h5>
							<div class="card-text mb-3">
								<div class="meta"></div>
								<div class="meta"></div>
							</div>
							<!--//card-text-->
						</div>
						<!--//card-->
						<div class="card-footer text-muted">
							<ul class="social-list list-inline mb-0">
								{% if item.ln %}
								<li class="list-inline-item">
									<a href="{{ item.ln }}" target="_blank">
										<i class="fab fa-linkedin-in fa-fw"></i>
									</a>
								</li>
								{% endif %}
								{% if item.twitter %}
								<li class="list-inline-item">
									<a href="{{ item.twitter }}">
										<i class="fab fa-twitter fa-fw"></i>
									</a>
								</li>
								{% endif %}
                            </ul>
							<!--//social-list-->
						</div>
					</div>
					<!--//card-->
				</div>
				<!--//organizator -->
				{% endfor %}

			</div>
			<!--//row-->
		</div>
		<!--//container-->

	</section>
	<!--//speakers-section-->

	<div class="container">
		<hr>
	</div>

	<section id="sponsors-section" class="sponsors-section section">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Partnerzy</h3>
			<div class="section-intro text-center single-col-max mx-auto mb-5">
				Jeśli Twoja firma lub organizacja
				chciałaby nas wesprzeć w jakikolwiek sposób, zapraszamy do <a href="mailto:kontakt@azurecommunity.pl">kontaktu</a>
			</div>


			<!--//row-->
		</div>
		<!--//container-->
	</section>
	<!--//sponsors-section-->

	<footer class="footer py-5 theme-bg-primary">
		<div class="container text-center">

			<ul class="social-list list-inline mb-4">
				<li class="list-inline-item mr-1">
					<a href="mailto:kontakt@azurecommunity.pl">
						<i class="fas fa-envelope"></i>
					</a>
				</li>
				<li class="list-inline-item mr-1">
					<a href="https://github.com/AzureCommunityPL/group/discussions">
						<i class="fab fa-facebook fa-fw"></i>
					</a>
				</li>
				<li class="list-inline-item mr-1">
					<a href="https://twitter.com/azuredaypl">
						<i class="fab fa-twitter fa-fw"></i>
					</a>
				</li>
				<li class="list-inline-item mr-1">
					<a href="https://www.youtube.com/channel/UClfwtbJi3wZXwAiUFwvNruw">
						<i class="fab fa-youtube fa-fw"></i>
					</a>
				</li>
			</ul>
			<!--//social-list-->


			<ul class="footer-links list-inline mx-auto mb-4">
				<li class="list-inline-item">
					<a href="https://github.com/AzureCommunityPL/warsztaty-2021/blob/master/warsztaty.md">
						Code of
						Conduct
					</a>
				</li>
				<li class="list-inline-item">|</li>
				<li class="list-inline-item mr-0"><a href="privacy.html">Polityka prywatności</a></li>
			</ul>
			<!--//footer-link-->
			<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">
				Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers
			</small>

		</div>
		<!--//container-->
	</footer>
	{% for item in site.data.speakers %}
	<!-- Modal Speaker -->
	<div class="modal modal-speaker modal-speaker-{{ forloop.index }}" id="modal-speaker-{{ forloop.index }}"
		 tabindex="-1" role="dialog" aria-labelledby="speaker-{{ forloop.index }}-ModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="speaker-{{ forloop.index }}-ModalLabel" class="modal-title sr-only">{{ item.name }}</h4>
				</div>
				<div class="modal-body p-0">
					<div class="media flex-column flex-md-row theme-bg-light p-4 p-lg-5">
						<img class="profile-image mb-3 mb-md-0 mr-md-4 rounded-circle mx-auto"
							 src="assets/images/speakers/{{ item.photo }}" alt="" />

						<div class="media-body text-center text-md-left mx-auto">
							<h2 class="name mb-2">{{ item.name }}</h2>
							<div class="meta"></div>
							<div class="meta mb-2"></div>
							<ul class="social-list list-inline mb-0">
								{% if item.ln %}
								<li class="list-inline-item">
									<a href="{{ item.ln }}">
										<i class="fab fa-linkedin-in fa-fw"></i>
									</a>
								</li>
								{% endif %}
								{% if item.mvp %}
                                <li class="list-inline-item">
                                    <a href="{{ item.mvp }}">
                                        <i class="icon-mvp-1"></i>
                                    </a>
                                </li>
                                {% endif %}
								{% if item.twitter %}
								<li class="list-inline-item">
									<a href="{{ item.twitter }}">
										<i class="fab fa-twitter fa-fw"></i>
									</a>
								</li>
								{% endif %}
								{% if item.facebook %}
								<li class="list-inline-item">
									<a href="{{ item.facebook }}">
										<i class="fab fa-facebook fa-fw"></i>
									</a>
								</li>
								{% endif %}
								{% if item.github %}
								<li class="list-inline-item">
									<a href="{{ item.github }}">
										<i class="fab fa-github fa-fw"></i>
									</a>
								</li>
								{% endif %}
								{% if item.url %}
								<li class="list-inline-item">
									<a href="{{ item.url }}">
										<i class="fas fa-link fa-fw"></i>
									</a>
								</li>
								{% endif %}
							</ul>
							<!--//social-list-->
                        </div>
						<!--//media-body-->
					</div>
					<!--//media-->

					<div class="desc p-4 p-lg-5">
						<p>{{ item.bio }}</p>
					</div>
				</div>
				<!--//modal-body-->
			</div>
			<!--//modal-content-->
		</div>
		<!--//modal-dialog-->
	</div>
	<!--//modal-->
	{% endfor %}
	<!-- Javascript -->
	<script src="assets/plugins/jquery-3.4.1.min.js"></script>
	<script src="assets/plugins/popper.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/back-to-top.js"></script>
	<script src="assets/plugins/jquery.scrollTo.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>